<div fxLayout="column" style="height: 100%">

  <mat-tab-group fxFlex="none" animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="editorService.tabIndex"
    (selectedIndexChange)="editorService.tabIndex = $event">
  
    <mat-tab label="Vertex shader"></mat-tab>
    <mat-tab label="Fragment shader"></mat-tab>
  </mat-tab-group>

  <mat-expansion-panel fxFlex="none" id="uniformsPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available uniforms
      </mat-panel-title>

    </mat-expansion-panel-header>

    
    <div *ngFor="let uniform of editorService.uniformArray">

      {{uniform.name}}: {{uniform.value}}

    </div>
  </mat-expansion-panel>

  <div fxFlex="auto">
    <ngx-monaco-editor #vertEditor [options]="editorOptions" [style.display]="editorService.tabIndex == 0 ? 'block' : 'none'" [(ngModel)]="editorService.shader.vertSource"></ngx-monaco-editor>
    
    <ngx-monaco-editor #fragEditor [style.display]="editorService.tabIndex == 1 ? 'block' : 'none'" [options]="editorOptions" [(ngModel)]="editorService.shader.fragSource"></ngx-monaco-editor>
  </div>
</div>

<app-float-picker #floatPicker> </app-float-picker>
