<div fxLayout="column" style="height: 100%">

  <div fxFlex="none">
    <div *ngIf="project.name;else noprojectname">
      <h2 *ngIf="!editName" (click)="editName = true">{{ project.name }}</h2>
    </div>
    <ng-template #noprojectname>
      <h2 #noprojectname>Geen naam</h2>
    </ng-template>
    <input *ngIf="editName" [(ngModel)]="project.name" (blur)="updateName()" (keydown.enter)="updateName()" type="text" class="form-control" />
    <a (click)="deleteProject()">Delete project</a>
  </div>

  <mat-tab-group fxFlex="none" animationDuration="0ms" (selectedIndexChange)="tabChange($event)" [selectedIndex]="editorService.tabIndex"
    (selectedIndexChange)="editorService.tabIndex = $event">
  
    <mat-tab label="Vertex shader"></mat-tab>
    <mat-tab label="Fragment shader"></mat-tab>
  </mat-tab-group>

  <mat-expansion-panel fxFlex="none" id="uniformsPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available uniforms
      </mat-panel-title>

    </mat-expansion-panel-header>

    
    <div *ngFor="let uniform of editorService.uniformArray">

      <span class="mtk8">uniform {{uniform.type}}</span> 
      {{uniform.name}}; 
      <span class="mtk7">// {{uniform.description}} {{uniform.value}}</span>

    </div>
  </mat-expansion-panel>

  <div fxFlex="auto">
    <ngx-monaco-editor #vertEditor [options]="editorOptions" [style.display]="editorService.tabIndex == 0 ? 'block' : 'none'" [(ngModel)]="editorService.shader.vertSource"></ngx-monaco-editor>
    
    <ngx-monaco-editor #fragEditor [style.display]="editorService.tabIndex == 1 ? 'block' : 'none'" [options]="editorOptions" [(ngModel)]="editorService.shader.fragSource"></ngx-monaco-editor>
  </div>
</div>

<app-float-picker #floatPicker> </app-float-picker>
