ngx-monaco-editor {
  height: 100%;

  ::ng-deep {
    .editor-error {
      background: rgba(255, 0, 0, 0.39);
    }
  }
}

#uniformsPanel {
  margin: 20px 30px;
  background: #44475f;
  ::ng-deep * {
    color: white;
    
    .mtk8 { color: rgb(128, 163, 187); }
    .mtk7 { color: #608b4e; }

    .mat-expansion-indicator {
      filter: invert(1);
    }
  }
}

h2 {
  input {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;

    outline-offset: -2px;
    outline: -webkit-focus-ring-color auto 1px;
  }
}