ngx-monaco-editor {
  height: 100%;

  ::ng-deep {
    .editor-error {
      background: rgb(255, 147, 147);
    }
  }
}

#uniformsPanel {
  margin: 20px 30px;
  background: #44475f;
  ::ng-deep * {
    color: white !important;

    .mat-expansion-indicator {
      filter: invert(1);
    }
  }
}
