ngx-monaco-editor {
  height: 100%;

  ::ng-deep {
    .editor-error {
      background: rgb(255, 147, 147);
    }
  }
}

#uniformsPanel {
  margin: 20px 30px;
  background: #44475f;
  ::ng-deep * {
    color: white;
    
    .mtk8 { color: rgb(128, 163, 187); }
    .mtk7 { color: #608b4e; }

    .mat-expansion-indicator {
      filter: invert(1);
    }
  }
}