<div class="flex-item">
  <div *ngIf="loginService.currentUser" class="container">
    <button style="float: right;" class="mat-raised-button" (click)="createNewProject()">New Project</button>
    <h1>Shaders</h1>

    <div class="projects">
      <div *ngFor="let p of projects" class="project">
        <div class="project-inner">
          <div class="shader-viewer-wrapper">
            <a [routerLink]="['/shader/'+ p.id]">
              <app-shader-viewer [renderOnHover]="true" [dragable]="false" [shader]="p.shader"></app-shader-viewer>
            </a>
          </div>
          <a [routerLink]="['/shader/'+ p.id]">{{ p.name }}</a>
          Updated <span>{{ p.touched * 1000 | timestring }}</span> ago
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="loginService.currentUser == null" class="container">
	<div class="splash">
		<div class="buttons">
			<h1>Frengine</h1>
 			Frengine is a revolutianary way to develop shaders in the cloud.
			<br />

			<button [routerLink]="['/register']" class="mat-raised-button" color="accent"><h2>Create account</h2></button>
			<button [routerLink]="['/login']" class="mat-raised-button"><h2>Log in</h2></button>
		</div>
		<app-shader-viewer [renderOnHover]="true" [dragable]="false" [shader]="splashProject.shader"></app-shader-viewer>
	</div>
  </div>
</div>
