<div class="flex-item">
  <div class="container">
    <h2>Shaders</h2>
    <a (click)="createNewProject()">New Project</a>
    <br>
    <br>

    <div class="projects">
      <div *ngFor="let p of projects" class="project">
        <div class="project-inner">
          <div class="shader-viewer-wrapper">
            <a [routerLink]="['/shader/'+ p.id]">
              <app-shader-viewer [renderOnHover]="true" [dragable]="false" [shader]="p.shader"></app-shader-viewer>
            </a>
          </div>
          <a [routerLink]="['/shader/'+ p.id]">{{ p.name }}</a>
          Updated <span>{{ p.touched | timestring }}</span> ago
        </div>
      </div>
    </div>
  </div>
</div>
