<div style="padding: 10px;">
  <h2>Shaders</h2>
  <a [routerLink]="['/project/new']">New Project</a>
  <br>
  <br>

  <div *ngFor="let p of projects">
    <a [routerLink]="['/shader/'+ p.id]">{{ p.name }}</a>
    Updated <span *ngIf="p.modtime > 0">{{p.modtime}}{{ p.modtime | timestring }}</span><span
    *ngIf="p.modtime == 0">{{ p.created | timestring }}</span> ago
    <a [routerLink]="['/project/rename/' + p.id]">[rename]</a>
    <a [routerLink]="['/project/remove/' + p.id]">[X]</a>
  </div>
</div>
