/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import './variables.scss';

@include angular-material-theme($myDefaultTheme);

body, html {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    overflow: hidden;
}

.mat-tab-labels {
    border-bottom: solid 1px;

    .mat-tab-label {
        color: white;

        &.mat-tab-label-active {
          font-weight: bold;
          opacity: 1 !important;
        }
    }
}

.mtk6 {
    cursor: pointer;
    border-bottom: solid 1px;

    &:hover, &.active {
        color: white;
        border-bottom-color: white;
    }
}

a {
    cursor: pointer;
}