/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import './variables.scss';

@include angular-material-theme($myDefaultTheme);

body {
    margin: 0;
}

.mat-tab-labels {
    border-bottom: solid 1px;

    .mat-tab-label {
        color: white;

        &.mat-tab-label-active { text-decoration: underline; }
    }
}

.mtk6 {
    cursor: pointer;
    border-bottom: solid 1px;

    &:hover, &.active {
        color: white;
        border-bottom-color: white;
    }
}
